@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Raleway", sans-serif;
}

.home-page-wrapper {
  background-image: url("https://images.unsplash.com/photo-1671726203454-5d7a5370a9f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  filter: invert(12%) sepia(100%) saturate(300%) hue-rotate(276deg)
    brightness(30%) contrast(75%);
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}
